.wrap {
    height: 100vh;
    display: flex;
    align-items: center;
}

.form {
    width: 300px;
    margin: 0 auto;  
    border: 1px #ced4da solid;
    padding: 20px;
    border-radius: 0.375rem;
    color: #a0a5a8;
}

.form-title {
    color: #000;
    text-align: center;
}

.form-floating {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
}